In [1]:
import pandas as pd
import random
import numpy as np

Loading in Other people's data

In [2]:
# https://www.kaggle.com/datasets/miroslavsabo/young-people-survey?resource=download
pass_times = pd.read_csv("hobbies.csv")
h = 149
print(pass_times.shape)
# https://www.kaggle.com/datasets/kaggle/us-baby-names?select=StateNames.csv
first_names = pd.read_csv("NationalNames.csv")
f = 1825432
print(first_names.shape)
# https://www.kaggle.com/datasets/tanuprabhu/list-of-countries-by-number-of-internet-users
nationali = pd.read_csv("List of Countries by number of Internet Users - Sheet1.csv")
print(nationali.shape)
c = 214

(150, 2)
(1825433, 5)
(215, 6)

In [3]:
pass_times.head(5)

                      original                     short
0  I enjoy listening to music.                     Music
1                    I prefer.  Slow songs or fast songs
2           Dance, Disco, Funk                     Dance
3                   Folk music                      Folk
4                      Country                   Country

               ID: unique  sequential  number  (integer)  from  1  to 200,000 indicating the owner of the page (there will be 200,000 lines)

Name: characters of length between 10 and 20 (do not use commas inside this string)

Nationality: characters of length between 10 and 20 (do not usecommas inside this string)

CountryCode: number (integer) between 1 and 50

Hobby: sequence of characters of length between 10 and20 characters

In [17]:
peeps = []

for i in range(1,200001):
    rand = random.random()

    hob = int(h*rand)
    hobby = pass_times['short'].loc[hob]
    onHob = hobby
    if len(hobby) < 10:
        for n in range(int(20/len(hobby))-1):
            hobby = hobby + onHob
    elif len(hobby) > 20:
        hobby = hobby[0:15]


    fir = int(f*rand)
    name = first_names['Name'].loc[fir]
    onName =  name
    if len(name) < 10:
        for n in range(int(20/len(name))-1):
            name = name + onName
    elif len(name) > 20:
        name = name[0:15]

    nation = nationali['Country or Area'].loc[int(c*rand)]
    onNation = nation
    if len(nation) < 10:
        for n in range(int(20/len(nation))-1):
            nation = nation + onNation
    elif len(nation) > 20:
        nation = nation[0:15]

    peeps.append([nation, hobby, int(50*rand)+1, name])

In [18]:
df = pd.DataFrame(peeps, columns=["Nation", "Hobby", "Country", "Name"], index=range(1,200001))
df.head(5)

               Nation                Hobby  Country                  Name
1          Montenegro          Punctuality       36  LilieLilieLilieLilie
2         El Salvador          Reliability       28      JoselyneJoselyne
3         Puerto Rico       Dangerous dogs       25  AdinAdinAdinAdinAdin
4         Puerto Rico      Fear of public        25      CharlineCharline
5  MonacoMonacoMonaco  Spending on gadgets       47    KyrienKyrienKyrien

In [19]:
df.to_csv("MyPage.csv")